<div *ngIf="done">

  <div class="row">
    <div style="text-align:center">
      <button (click)="enough()" class="btn btn-danger">Enough</button>
    </div>

    <div style="text-align:center">
      <button (click)="take()" class="btn btn-success">Take</button>
    </div>
  </div>
<br>

  <div class="row">
    <div class="panel panel-primary col-md-1 col-md-offset-4">
      <div *ngFor="let user of userScore" class="panel-heading">
        {{user.playerName}}
        {{user.score}}
      </div>
      <div *ngFor="let item of score" class="panel-body">
        {{item.playerName}}
        {{item.score}}
      </div>
    </div>

    <div class="vcenter">
      <ng-container *ngFor="let round of listRoundViewModel.rounds">
        <div class="col-md-8">
          <div class="panel panel-success">
            <div *ngIf="round.number > 1" class="panel-heading">
              Round: {{round.number}}
            </div>
            <div *ngFor="let player of round.distributions" class="panel-body">
              {{player.name}}
              {{player.cardRank}}
              {{player.suit}}
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>