<br>
<br>
<br>
<form #myForm="ngForm" novalidate style="text-align:center; ">
  <label>Type your name</label>
  <div class="form-group">

    <kendo-dropdownlist [data]="data" [filterable]="true" [textField]="'name'" [valueField]="''" (filterChange)="handleFilter($event)"
      [(ngModel)]="selectedName" name="selectedName" required>
      <ng-template kendoDropDownListNoDataTemplate>
        <div>
          No data found.
          <ng-container *ngIf="filter">Do you want to add new item - '{{ filter }}' ?</ng-container>
          <br />
          <button *ngIf="filter" class="k-button" (click)="addNew()">Add new item</button>
        </div>
      </ng-template>
    </kendo-dropdownlist>
  </div>

  <label>Select numbers of bots</label>
  <div class="form-group">
    <kendo-dropdownlist [data]="listBots" [(ngModel)]="numberBots" name="numberBots" required>
    </kendo-dropdownlist>
  </div>

  <div class="form-group">
    <input type="submit" (click)="submit(selectedName.name, numberBots)" [disabled]="myForm.invalid" class="btn btn-default"
      value="Start game" />
  </div>
</form>

<router-outlet></router-outlet>