<br>

<div style="text-align:center">
  <h1>
    <a routerLink="">{{ title }}</a>
  </h1>
  
  <div>
    <button (click)="getHistory()" class="btn btn-primary">Game History</button>
</div>
</div>

<router-outlet></router-outlet>