<br>


<mat-tab-group>
    <mat-tab label="First"> Content 1
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile>1
                <div *ngIf="done">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <kendo-grid [data]="gameHistory.gameHistories" [height]="410" [resizable]="true">
                                <kendo-grid-column field="countPlayer" title="Players in game" width="40">
                                </kendo-grid-column>
                                <kendo-grid-column field="name" title="Name" width="250">
                                </kendo-grid-column>
                                <kendo-grid-column field="id" title="Continue" width="250">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <input type="button" [routerLink]="['/detail', dataItem.id]" value="Detail"
                                            class="btn btn-default" />
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>




<mat-tab-group>
    <mat-tab label="First">

        <div *ngIf="done">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <kendo-grid [data]="gameHistory.gameHistories" [height]="410" [resizable]="true">
                        <kendo-grid-column field="countPlayer" title="Players in game" width="40">
                        </kendo-grid-column>
                        <kendo-grid-column field="name" title="Name" width="250">
                        </kendo-grid-column>
                        <kendo-grid-column field="id" title="Continue" width="250">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <input type="button" [routerLink]="['/detail', dataItem.id]" value="Detail"
                                    class="btn btn-default" />
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>